[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/czf_env"]
	path = third_party/czf_env
	url = https://github.com/yhchen0906/czf_env.git
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
